.about {
    width: 100%;
    justify-content: center;
}

.avatar {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.about-content {
    overflow:hidden;
    margin: auto;
    width: 80%;
}

.about-content div {
    min-height: 200px;
    padding: 10px;
    word-break: break-word;
}

.about-image {
    float:right;
    margin: 20px;
    width:320px;
    display: flex;
    justify-content: center;
}

.about-text {
    background-color: #f5f5f5;
    overflow:hidden;
    margin:10px;
    min-height:170px;
    font-family: Raleway;
}

@media screen and (max-width: 400px) {
    .avatar {
        width: 200px;
        height: 200px;
    }

    .about-image {
        float: none;
        width: auto;
        margin: 0 0 40px 0;
    }
}

@media screen and (min-width: 400px) and (max-width: 900px) {
    .avatar {
        width: 300px;
        height: 300px;
    }
    .about-image {
        float: none;
        width: auto;
        margin: 0 0 50px 0;
    }
}
