 .aboutMeContainer{
  width: 100%;
  min-height: 100vh;
}
.about_top{
  display: end;
}
.about-me-text
{
  color: var(--gray);
}
.avtar {
  border-radius: 50%;
  width: 300px;
  height: 300px;
}
.circle {
  width: 300px;
  height: 300px;
  /* border:1px solid white; */
  border-radius: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about-top{
  width: 100%;
  /* background-color: #64C7CC; */

}
.about-image{
  width:300px;
  float: right;

  margin:'auto';
  /* background-color: yellow; */
}
.about-text{
  width: 70%;
  /* background-color: red; */
  float: left;
}
.icon{
   width: 30px;
  height: 300px;
}