.footer_container{
  display: flex;
  height: 200px;
  width: 100%;
  align-items: flex-start;
  /* align-self: flex-end; */
}
.back_to_top_button_container{
  position: absolute;
  height: 50px;
  width: 50px;
  margin-left: -25px;
  left: 50%; 
  z-index: 2;
}
.back_to_top_button {
  background-color:var(--pink);
  color:white;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;

}
.footer{
  position: absolute;
  height: 175px;
  background-color: var(--gray);
  width: 100%;
  left: 0;
  align-self: flex-end;
}