.section-title-container{
  width: 100%;

}
.section-title{
  padding: 5px;
  color: var(--gray);
  margin-bottom: 80px;
  margin-top: 70px;
}
.header-bar{
  width: 70px;
  height: 4px;
  background:var(--gray);
  margin: auto;
}
.title{
  margin: auto;
  font-size: 40px;
  font-weight: 600;
}

.light{
  color: white !important;
}
.header-bar-light{
  background:white;
}