* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --white:#E5E6F1;
  --yellow:#f5c000;
  --aqua:#04C2C9;
  --pink:#E31B6D;
  --gray:#242834;
}

html, body {
  height: 100%;
  width:100%;
}

#about {
  background-color: #f5f5f5;
}

.links {
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  z-index: 99;
  background-color: #242834;
  border-bottom: 3px solid var(--aqua);
  padding: 10px;
}

.links button {
  border: none;
  outline: none;
  float: right;
  padding: 13px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 100;
  color: white;
  cursor: pointer;
  background: #242834;
}

.links button.active {
  color:  #d71559 !important;
}

.links button:hover{
  color: lightslategrey;
}

.fixed{
  position: sticky;
}

.containers {
  width: 100%;;
  height: 100%;
}

.containers > div {
  width: 100%;
  display: flex;
}

.scrollspy {
  background-color: #ffffff;
  min-height: 100vh;
}

.sectionDiv {
  display:flex;
  justify-content: center;
  align-items: flex-end;
  width: 80%;
  margin: auto;
  background: rgba(40, 44, 52, 0);
}

.fab_button_container {
  position: fixed;
  bottom: 2vh;
  right: 2vw;
}

.hidden {
  visibility: hidden;
}

.fab_button {
  background-color:var(--pink);
  color:white;
  outline: none;
}

@media screen and (max-width: 480px){
    .links {
        justify-content: space-around;
    }
}
